/* Colores */

:root {
    --van-dyke: #553d36;
    --rosy-brown: #c2948a;
    --eggplant: #684a52;
    --isabelline: #f6f0ed;
    --khaki: #bbb193;
}

/* Superior */

header {
    background-color: var(--isabelline);
}

.banner {
    height: 420px;
    background: url(/img/Banner.png);
    background-size: cover;
    background-position: center;
}

.btn_banner {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    background: #523a4044;
    border: 1px solid var(--isabelline);
    border-radius: 50px;
    color: var(--isabelline);
    padding: 15px 20px;
    margin-top: 255px;
    transition: 0.5s ease;
    backdrop-filter: blur(10px);
}

.btn_banner:hover {
    background: var(--eggplant)
}

.section_cafes {
    background: var(--van-dyke);
    border-top: 30px solid var(--isabelline);
}

.section_cafes h2 {
    font-family: 'Montserrat';
    color: var(--isabelline);
    font-weight: bolder;
    border-bottom: 4px solid var(--isabelline)
}

.section_cafes p, h3 {
    font-family: 'Montserrat';
    color: var(--isabelline)
}

.section_cafes img {
    max-width: 100px;
}

.section_botonera {
    background: var(--rosy-brown);
    border-top: 30px solid var(--isabelline);
}

.section_botonera h2 {
    font-family: 'Montserrat';
    color: var(--isabelline);
    font-weight: bolder;
    font-size: 40px;

}

.section_confesionales {
    background: var(--isabelline);
}

footer {
    background: var(--eggplant);
    color: var(--isabelline);
    text-align: center;
}